# BE-RESTRO/.gitignore

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.webassets-cache/
.sass-cache/
*.log
*.pot
*.mo

# Environment variables
.env
.flaskenv

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?